header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: blue;
    color: #fff;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 200%;
  }
  
  .logo img {
    width: 300px;
    height: 350px;
  }
  /* styling for the menu button */
.menu-button {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    z-index: 9999;
  }
  
  /* styling for the menu items */
  .menu-items {
    display: none;
    position: fixed;
    left: 0;
    top: 50px;
    width: 200px;
    background-color: #eee;
    padding: 10px;
    z-index: 9998;
  }
  
  /* styling for the active menu items */
  .menu-items.active {
    display: block;
  }
  
  /* styling for the menu links */
  .menu-link {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* styling for the menu links when hovered */
  .menu-link:hover {
    text-decoration: underline;
  }
 
    /* */
    .entry-box {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    .toggle-div {
      margin-right: 10px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    .checkbox {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
    input:checked + .slider {
      background-color: #2196F3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    .info {
      display: flex;
      align-items: center;
    }
    .pkmnNum {
      margin-right: 10px;
      font-weight: bold;
    }
    .sprits img {
      width: 80px; /* Adjust size as needed */
      height: auto;
      margin-right: 10px;
    }
